.main-container {
    padding-top: 100px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}
.footer {
    height: 50px;
    text-align: center;
    padding-top: 15px;
}
.card-texs{
    height: 164px;
    width: 349px;
}
.card-produtos{
    height: 164px;
    width: 253px;
}
